IPL prediction

In [2]:
%cd C:\Users\manojkumar_bhosale\Desktop\MachineLearning\codeGladiator\cg-ai-hackathon-dataset\cg-ai-hackathon-dataset

C:\Users\manojkumar_bhosale\Desktop\MachineLearning\codeGladiator\cg-ai-hackathon-dataset\cg-ai-hackathon-dataset

In [3]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is 0CDD-5E1F

 Directory of C:\Users\manojkumar_bhosale\Desktop\MachineLearning\codeGladiator\cg-ai-hackathon-dataset\cg-ai-hackathon-dataset

04/25/2018  10:13 AM    <DIR>          .
04/25/2018  10:13 AM    <DIR>          ..
04/25/2018  10:13 AM               978 submission.csv
04/25/2018  10:13 AM         2,492,816 TestDeliveries.csv
04/25/2018  10:13 AM             8,017 Testmatches.csv
04/25/2018  10:13 AM         9,274,803 TrainDeliveries.csv
04/25/2018  10:13 AM            39,858 Trainmatches.csv
               5 File(s)     11,816,472 bytes
               2 Dir(s)  40,328,458,240 bytes free

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [61]:
trainDel = pd.read_csv("TrainDeliveries.csv", index_col="match_id")
trainDel['bowling_team'].unique()

array(['Team5', 'Team1', 'Team4', 'Team2', 'Team6', 'Team3', 'Team8',
       'Team7', 'Team10', 'Team9', 'Team11'], dtype=object)

In [16]:
trainDel.head()

,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
match_id,,,,,,,,,,,,,,,,,,,,
1,1,Team1,Team5,1,1,Player 105,Player 354,Player 431,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Team1,Team5,1,2,Player 105,Player 354,Player 431,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Team1,Team5,1,3,Player 105,Player 354,Player 431,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
1,1,Team1,Team5,1,4,Player 105,Player 354,Player 431,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Team1,Team5,1,5,Player 105,Player 354,Player 431,0,2,0,0,0,0,0,2,2,NaN,NaN,NaN

In [17]:
trainDel.columns

Index(['inning', 'batting_team', 'bowling_team', 'over', 'ball', 'batsman',
       'non_striker', 'bowler', 'is_super_over', 'wide_runs', 'bye_runs',
       'legbye_runs', 'noball_runs', 'penalty_runs', 'batsman_runs',
       'extra_runs', 'total_runs', 'player_dismissed', 'dismissal_kind',
       'fielder'],
      dtype='object')

In [62]:
trainMatch = pd.read_csv("Trainmatches.csv", index_col="id")
trainMatch.index.name="match_id"
trainMatch.head()

,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue
match_id,,,,,,,,,,,,,
1,2017,City1,Team1,Team5,Team5,field,normal,0,Team1,35,0,Player 467,Stadium1
2,2017,City2,Team2,Team4,Team4,field,normal,0,Team4,0,7,Player 405,Stadium2
3,2017,City3,Team3,Team6,Team6,field,normal,0,Team6,0,10,Player 85,Stadium3
4,2017,City4,Team4,Team8,Team8,field,normal,0,Team8,0,6,Player 145,Stadium4
5,2017,City5,Team5,Team7,Team5,bat,normal,0,Team5,15,0,Player 209,Stadium5

In [63]:
allData = trainDel.join(trainMatch)

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
enc = LabelEncoder()

In [34]:
enc.fit(allData.season)

LabelEncoder()

In [35]:
allData.season = enc.transform(allData.season)

In [64]:
allData.season.unique()

array([2017, 2008, 2009, 2010, 2011, 2012, 2013, 2014], dtype=int64)

In [38]:
allData.columns

Index(['inning', 'batting_team', 'bowling_team', 'over', 'ball', 'batsman',
       'non_striker', 'bowler', 'is_super_over', 'wide_runs', 'bye_runs',
       'legbye_runs', 'noball_runs', 'penalty_runs', 'batsman_runs',
       'extra_runs', 'total_runs', 'player_dismissed', 'dismissal_kind',
       'fielder', 'season', 'city', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue'],
      dtype='object')

In [65]:
colNeedEncoding = [ 'batting_team', 'bowling_team',  'batsman',
       'non_striker', 'bowler',  'player_dismissed', 'dismissal_kind',
       'fielder', 'season', 'city', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'winner', 'player_of_match', 'venue']
#allData.venue.unique()

In [66]:
allData.dismissal_kind.unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled',
       'stumped', 'retired hurt', 'hit wicket', 'obstructing the field'],
      dtype=object)

In [67]:
allData.isnull().sum()

inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    112771
dismissal_kind      112771
fielder             114452
season                   0
city                     0
team1                    0
team2                    0
toss_winner              0
toss_decision            0
result                   0
dl_applied               0
winner                  63
win_by_runs              0
win_by_wickets           0
player_of_match          0
venue                    0
dtype: int64

In [68]:
allData.player_dismissed.fillna("NA", inplace=True)
allData.dismissal_kind.fillna("NA", inplace=True)
allData.fielder.fillna("NA", inplace=True)
allData.winner.fillna("NA", inplace=True)

In [69]:
allData.dismissal_kind.unique()

array(['NA', 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled',
       'stumped', 'retired hurt', 'hit wicket', 'obstructing the field'],
      dtype=object)

In [70]:
encoderDict = {}
for col in colNeedEncoding:
        print(col)
        enc = LabelEncoder()
        enc.fit(allData[col])
        allData[col] = enc.transform(allData[col])
        encoderDict[col]=enc

batting_team
bowling_team
batsman
non_striker
bowler
player_dismissed
dismissal_kind
fielder
season
city
team1
team2
toss_winner
toss_decision
result
winner
player_of_match
venue

In [71]:
encoderDict

{'batsman': LabelEncoder(),
 'batting_team': LabelEncoder(),
 'bowler': LabelEncoder(),
 'bowling_team': LabelEncoder(),
 'city': LabelEncoder(),
 'dismissal_kind': LabelEncoder(),
 'fielder': LabelEncoder(),
 'non_striker': LabelEncoder(),
 'player_dismissed': LabelEncoder(),
 'player_of_match': LabelEncoder(),
 'result': LabelEncoder(),
 'season': LabelEncoder(),
 'team1': LabelEncoder(),
 'team2': LabelEncoder(),
 'toss_decision': LabelEncoder(),
 'toss_winner': LabelEncoder(),
 'venue': LabelEncoder(),
 'winner': LabelEncoder()}

In [73]:
allData.isnull().sum()

inning              0
batting_team        0
bowling_team        0
over                0
ball                0
batsman             0
non_striker         0
bowler              0
is_super_over       0
wide_runs           0
bye_runs            0
legbye_runs         0
noball_runs         0
penalty_runs        0
batsman_runs        0
extra_runs          0
total_runs          0
player_dismissed    0
dismissal_kind      0
fielder             0
season              0
city                0
team1               0
team2               0
toss_winner         0
toss_decision       0
result              0
dl_applied          0
winner              0
win_by_runs         0
win_by_wickets      0
player_of_match     0
venue               0
dtype: int64

In [74]:
allData.head()

,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,...,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue
match_id,,,,,,,,,,,,,,,,,,,,,
1,1,0,6,1,1,7,252,261,0,0,...,6,6,1,1,0,1,35,0,162,0
1,1,0,6,1,2,7,252,261,0,0,...,6,6,1,1,0,1,35,0,162,0
1,1,0,6,1,3,7,252,261,0,0,...,6,6,1,1,0,1,35,0,162,0
1,1,0,6,1,4,7,252,261,0,0,...,6,6,1,1,0,1,35,0,162,0
1,1,0,6,1,5,7,252,261,0,2,...,6,6,1,1,0,1,35,0,162,0